.conteudoLateralEsquerda{
    line-height: 70px;
    padding: 2%;
    position: fixed;
}

.conteudoLateralEsquerda ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.conteudoLateralEsquerda ul :first-child{
    font-weight: 800;
}


ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    font-weight: 600;
}

.conteudoLateralEsquerda img{
    width: 50%;
    margin-bottom: 20px;
}

.conteudoLateralEsquerda .Profile{
    margin-top: auto;
  }

