.Stories {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.Story {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 10px;   
}

.Story img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 3px;
    background: linear-gradient(#b62dc8, #ffba27 60%);
}