.Post {
    width: 500px;
}

.card-header {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

.card-header >:first-child{
    padding: 2px;
    background: linear-gradient(#b62dc8, #ffba27 60%);
}

.card-header div img, .card-header >:first-child{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.card-header div img{
    background: #000;
    box-sizing: border-box;
    padding: 2px;
}

.body-img {
    border-radius: 5px;
    min-height: 550px;
    background-color:black;
    display: flex;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.3);
}

.body-img img {
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card {   
    width: 53%;
    margin-left: 20px;
}

h3 {
    font-size: 14px;
    font-weight: 600;
}

.icon {
    cursor: pointer;
}

.icon:hover {
    color: gray;
}

.icon.animate, .expanded {
    animation: pulse 0.3s ease-in-out;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}
  
  
  