.Post {
    width: 500px;
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.card-header > img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 2px;
    background: linear-gradient(#b62dc8, #ffba27 60%);
}

.body-img {
    border-radius: 5px;
    min-height: 550px;
    background-color:black;
    display: flex;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.3);
}

.body-img img {
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card {   
    width: 53%;
    margin-left: 20px;
}